#ifndef SECRETS_H_
#define SECRETS_H_

#define SSID            ("SSID")
#define SSID_PASSWORD   ("Password")

// Thingspeak
// Name: channel name
// Channel id: channel id
#define TS_KEY          ("0000000000000000")

#endif